/src
/badges
/tests
/tests_int
/.circleci
/dist/tests
/dist/tests_int
.gitignore
tsconfig*.json
.nvmrc
.npmrc
/coverage
jest*
.editorconfig*
.eslint*
/.jestcache
wallaby*
.idea
.husky
.prettierc
commitlint.config.js
lint-staged.config.js
*.tgz
release.config.js
