/.circleci
/.github
/.jestcache
/badges
/coverage
/dist/tests
/dist/tests_bench
/dist/tests_int
/docs
/src
/tests
/tests_bench
/tests_int
*.tgz
.editorconfig*
.eslint*
.gitignore
.husky
.idea
.npmrc
.nvmrc
.prettierc
CHANGELOG.md
commitlint.config.cjs
eslint.config.mjs
jest*
junit.*
lint-staged.config.mjs
release.config.js
tsconfig*.json
typedoc.json
wallaby*
